<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Findings</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">Mars findings</h1>
    <div class="jumbotron text-center">
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new data</a></p>
    </div>
    <div>
      <ul style="list-style: none;">
        <li><h4>{{findings['newsTitle']}}</h4></li><br>
        <li><p>{{findings['newsParagraph']}}<p></li>
        <li><h4>Featured Mars Image</h4></li><br>
        <li><img src= "{{findings.featuredImage}}" height="300" width="450"></li><br><br>
        <!-- <li><img src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg" height="300" width="450"></li><br><br>  -->
        <li><h5>Mars Weather</h5></li><br>
        <li><p>{{findings['twitterMarsWeather']}}<p></li>
      </ul>
      <!-- <div>{{findings['marsFactsHTML']}}</div><br><br><br> -->
      <table border=1>
        <caption><h3>Mars Hemispheres</h3></caption>
        <tr>
          <th>{{findings['Cerberus Hemisphere Enhanced']}}</th>
          <th>{{findings['Schiaparelli Hemisphere Enhanced']}}</th>
          <th>{{findings['Syrtis Major Hemisphere Enhanced']}}</th>
          <th>{{findings['Valles Marineris Hemisphere Enhanced']}}</th>
        </tr>
        <tr>
          <td><img src= "{{findings.url_1}}" height="300" width="300"></td>
          <td><img src= "{{findings.url_2}}" height="300" width="300"></td>
          <td><img src= "{{findings.url_3}}" height="300" width="300"></td>
          <td><img src= "{{findings.url_4}}" height="300" width="300"></td>
        </tr>
      </table><br><br><br>
    </div>
  </div>

</html>
